@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@keyframes animate {
  0%, 100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --gris: #D2D2D2;
  --vert: #6A8572;
  --noir: #18251C;
}

.zoom {
  z-index: 2;
}

.showBurger {
  top: 0;
  transition: top 0.6s ease-in-out;
  position: fixed;
}

.removeBurger {
  transition: top 0.4s ease-in-out;
  position: absolute;
  top: -100%;
}

.showMail {
  top: 0;
  transition: top 0.6s ease-in-out;
  position: fixed;
}

.removeMail {
  transition: top 0.4s ease-in-out;
  position: absolute;
  top: -100%;
}

.reveal {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
}

body {
  background-color: var(--gris);
  overflow-x: hidden;
  width: 100vw;
}
body #home {
  height: 100vh;
  width: 100vw;
  position: relative;
}
body #home #burgerdisplay {
  width: 100%;
  height: 100vh;
  background-color: var(--vert);
  z-index: 5;
}
body #home #burgerdisplay #hautburger {
  height: 10vh;
  width: 100%;
}
body #home #burgerdisplay #hautburger span {
  font-size: 70px;
  cursor: pointer;
  margin-left: 25px;
  color: transparent;
  transition: 0.2s;
  -webkit-text-stroke: 1px var(--gris);
  font-family: "Varela Round", sans-serif;
}
body #home #burgerdisplay #hautburger span:hover {
  color: var(--gris);
  cursor: pointer;
}
body #home #burgerdisplay #mainburger {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body #home #burgerdisplay #mainburger a {
  font-size: 70px;
  color: transparent;
  text-decoration: none;
  transition: 0.45s;
  -webkit-text-stroke: 1px var(--gris);
}
body #home #burgerdisplay #mainburger a:hover {
  color: var(--gris);
  transform: scale(1.15);
  cursor: pointer;
}
body #home #maildisplay {
  width: 100%;
  height: 100vh;
  background-color: var(--vert);
  z-index: 5;
}
body #home #maildisplay #hautmail {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: end;
}
body #home #maildisplay #hautmail span {
  font-size: 70px;
  cursor: pointer;
  margin-right: 25px;
  color: transparent;
  transition: 0.2s;
  -webkit-text-stroke: 1px var(--gris);
  font-family: "Varela Round", sans-serif;
}
body #home #maildisplay #hautmail span:hover {
  color: var(--gris);
  cursor: pointer;
}
body #home #head {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body #home #head img {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.45s;
  cursor: pointer;
}
body #home #head img:hover {
  transform: scale(1.15);
  cursor: pointer;
}
body #home #main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
body #home #main img {
  position: relative;
  border-bottom: solid 2px var(--noir);
}
body #home #main #p {
  position: absolute;
  top: 280px;
}
body #home #main #p p {
  font-family: "Poppins", sans-serif;
  color: var(--vert);
  font-size: 110px;
}
@media screen and (max-width: 850px) {
  body #home #main #p p {
    font-size: 80px;
  }
}
@media screen and (max-width: 600px) {
  body #home #main #p p {
    font-size: 65px;
  }
}
@media screen and (max-width: 400px) {
  body #home #main #p p {
    font-size: 50px;
  }
}
body #home #main #p #titreplein {
  position: absolute;
  z-index: -1;
}
body #home #main #p #titrevide {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 2px var(--vert);
}
body #home #main .container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #home #main .container h2 {
  font-size: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 850px) {
  body #home #main .container h2 {
    font-size: 120px;
  }
}
@media screen and (max-width: 700px) {
  body #home #main .container h2 {
    font-size: 100px;
  }
}
@media screen and (max-width: 600px) {
  body #home #main .container h2 {
    font-size: 80px;
  }
}
@media screen and (max-width: 480px) {
  body #home #main .container h2 {
    font-size: 65px;
  }
}
@media screen and (max-width: 375px) {
  body #home #main .container h2 {
    font-size: 55px;
  }
}
body #home #main .container h2:nth-child(1) {
  color: #6A8572;
  -webkit-text-stroke: 2px #6A8572;
}
body #home #main .container h2:nth-child(2) {
  color: #D2D2D2;
  animation: animate 4s ease-in-out infinite;
}
body #bottom {
  width: 100%;
  height: 310vh;
  display: flex;
  flex-direction: column;
}
body #bottom #navbar {
  height: 100vh;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 750px) {
  body #bottom #navbar {
    display: none;
  }
}
body #bottom #navbar div {
  height: 70%;
  width: 40%;
  border-radius: 50px;
  border: 2px solid var(--vert);
}
body #bottom #navbar div ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  font-size: xx-large;
  color: var(--noir);
}
@media screen and (max-width: 1100px) {
  body #bottom #navbar div ul {
    font-size: large;
  }
}
body #bottom #navbar div ul a {
  color: var(--noir);
}
body #bottom #navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
body #bottom #about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body #bottom #projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #bottom #contacts {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body #bottom #contacts #hautcontact {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
body #bottom #contacts #hautcontact div {
  width: 20%;
  height: 50%;
  border-top: 2px solid var(--noir);
  border-bottom: 2px solid var(--noir);
  display: flex;
  align-items: center;
  justify-content: center;
}
body #bottom #contacts #hautcontact div h2 {
  font-size: xx-large;
  text-align: center;
  font-weight: normal;
}
body #bottom #contacts #bascontact {
  width: 100%;
  height: 75vh;
  display: flex;
}
body #bottom #contacts #bascontact #gauchecontact {
  width: 50%;
  height: 100%;
  border-right: 1px solid var(--noir);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
}
body #bottom #contacts #bascontact #gauchecontact div {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #bottom #contacts #bascontact #gauchecontact div img {
  width: 60px;
}
body #bottom #contacts #bascontact #gauchecontact div a {
  text-decoration: none;
  color: var(--noir);
}
body #bottom #contacts #bascontact #gauchecontact div a p {
  font-size: x-large;
  transition: 0.2s;
}
body #bottom #contacts #bascontact #gauchecontact div a p:hover {
  color: var(--vert);
}
body #bottom #contacts #bascontact #droitecontact {
  width: 50%;
  height: 100%;
  border-left: 1px solid var(--noir);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
body #bottom #contacts #bascontact #droitecontact div {
  width: 40%;
  height: 20%;
  border: 2px solid var(--vert);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 7px;
}
body #bottom #contacts #bascontact #droitecontact div p {
  color: var(--vert);
  font-size: larger;
}
body #bottom #contacts #bascontact #droitecontact div:hover {
  box-shadow: inset 310px 0 0 0 var(--vert);
  border: 2px solid var(--vert);
  cursor: pointer;
}
body #bottom #contacts #bascontact #droitecontact div:hover p {
  color: var(--noir);
}

#bodyProjects header {
  height: 10vh;
  display: flex;
}
#bodyProjects header .retourHome {
  width: 30%;
}
#bodyProjects header .retourHome img {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.45s;
  cursor: pointer;
}
#bodyProjects header .retourHome img:hover {
  transform: scale(1.15);
  cursor: pointer;
}
#bodyProjects #titreprojects {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bodyProjects #titreprojects h1 {
  font-size: 100px;
  color: var(--vert);
  position: relative;
  z-index: 2;
}
#bodyProjects #titreprojects hr {
  position: absolute;
  z-index: 1;
  top: 190px;
  left: 44%;
  width: 300px;
  border: 2px solid var(--noir);
}
#bodyProjects .projectsdisplay {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}
#bodyProjects .imgproject {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bodyProjects .imgproject img {
  width: 90%;
}
#bodyProjects .droite {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bodyProjects .droite a {
  color: var(--noir);
  text-decoration: none;
}
#bodyProjects .droite h2 {
  text-align: center;
  color: var(--noir);
  font-size: xx-large;
  margin-top: 30px;
  height: 35%;
}
#bodyProjects .droite .imgdroite {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#bodyProjects .droite .imgdroite img {
  width: 10%;
}
#bodyProjects .droite .voirplus {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: relative;
  cursor: pointer;
}
#bodyProjects .droite .voirplus div {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  position: relative;
  transition: 0.3s;
}
#bodyProjects .droite .voirplus div img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
  z-index: 1;
  transition: 0.3s;
}
#bodyProjects .droite .voirplus div p {
  font-size: x-large;
  z-index: 2;
  margin-left: 10px;
  border-radius: 100%;
}
#bodyProjects .droite .voirplus div:hover {
  background-color: #E1E1E5;
}
#bodyProjects .droite .voirplus div:hover img {
  transform: translate(40%);
}

header {
  height: 10vh;
  display: flex;
}
header .retourHome {
  width: 30%;
}
header .retourHome img {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.45s;
  cursor: pointer;
}
header .retourHome img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.singleMovieDisplay {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.singleMovieDisplay div {
  width: 80%;
  height: 95%;
  display: flex;
}
.singleMovieDisplay div .gaucheProject {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.singleMovieDisplay div .gaucheProject div:nth-of-type(1) {
  width: 100%;
  height: 55%;
  margin-left: 10%;
}
.singleMovieDisplay div .gaucheProject div:nth-of-type(1) img {
  width: 80%;
  height: 100%;
}
.singleMovieDisplay div .gaucheProject div:nth-of-type(2) {
  width: 100%;
  height: 10%;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
.singleMovieDisplay div .gaucheProject div:nth-of-type(3) {
  width: 80%;
  height: 25%;
  background-color: lightgray;
  color: var(--vert);
  margin-left: 10%;
}
.singleMovieDisplay div .gaucheProject div:nth-of-type(4) {
  width: 100%;
  height: 10%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 10%;
}
.singleMovieDisplay div .gaucheProject div:nth-of-type(4) img {
  width: 60px;
  height: 60px;
}
.singleMovieDisplay div .droiteProject {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(1) {
  width: 100%;
  height: 85%;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) {
  width: 100%;
  height: 15%;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) .voirplus {
  height: 45%;
  gap: 20px;
  margin-top: 25px;
  position: relative;
  cursor: pointer;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) .voirplus a {
  color: var(--noir);
  text-decoration: none;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) .voirplus div {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  position: relative;
  transition: 0.3s;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) .voirplus div img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
  z-index: 1;
  transition: 0.3s;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) .voirplus div p {
  font-size: x-large;
  z-index: 2;
  margin-left: 10px;
  border-radius: 100%;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) .voirplus div:hover {
  background-color: #E1E1E5;
}
.singleMovieDisplay div .droiteProject div:nth-of-type(2) .voirplus div:hover img {
  transform: translate(40%);
}

/*# sourceMappingURL=build.css.map */
