@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@keyframes animate {
  0%, 100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --gris: #D2D2D2;
  --vert: #6A8572;
  --noir: #18251C;
}

.zoom {
  z-index: 2;
}

body #home {
  height: 100vh;
}
body #home #head {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body #home #head img {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
body #home #main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
body #home #main img {
  position: relative;
  border-bottom: solid 2px var(--noir);
}
body #home #main #p {
  position: absolute;
  top: 280px;
}
body #home #main #p p {
  font-family: "Poppins", sans-serif;
  color: var(--vert);
  font-size: 120px;
}
body #home #main #p #titreplein {
  position: absolute;
  z-index: -1;
}
body #home #main #p #titrevide {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 2px var(--vert);
}
body #home #main .container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #home #main .container h2 {
  font-size: 10vw;
  position: absolute;
  transform: translate(-50%, -50%);
}
body #home #main .container h2:nth-child(1) {
  color: #6A8572;
  -webkit-text-stroke: 2px #6A8572;
}
body #home #main .container h2:nth-child(2) {
  color: #D2D2D2;
  animation: animate 4s ease-in-out infinite;
}
body #bottom {
  width: 100%;
  height: 310vh;
  display: flex;
  flex-direction: column;
}
body #bottom #navbar {
  height: 100vh;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
body #bottom #navbar div {
  height: 70%;
  width: 40%;
  border-radius: 50px;
  border: 2px solid var(--vert);
}
body #bottom #navbar div ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  font-size: xx-large;
  color: var(--noir);
}
body #bottom #navbar div ul a {
  color: var(--noir);
}
body #bottom #navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
body #bottom #about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body #bottom #about #haut {
  height: 50%;
  width: 100%;
  display: flex;
}
body #bottom #about #haut div:nth-of-type(1) {
  height: 100%;
  width: 10%;
}
body #bottom #about #haut div:nth-of-type(2) {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  position: relative;
}
body #bottom #about #haut div:nth-of-type(2) img {
  width: 60%;
  margin-left: 10%;
}
body #bottom #about #haut div:nth-of-type(2) div {
  width: 60%;
  height: 75%;
  bottom: 5%;
  left: 7%;
  background-color: transparent;
  border: 3px solid var(--vert);
  position: absolute;
  z-index: -1;
}
body #bottom #about #haut div:nth-of-type(3) {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
}
body #bottom #about #haut div:nth-of-type(3) p {
  text-align: center;
  color: var(--vert);
  font-size: x-large;
  padding-right: 40px;
}
body #bottom #about #milieu {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #bottom #about #milieu div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 50%;
  border-top: 3px solid var(--noir);
  border-bottom: 3px solid var(--noir);
}
body #bottom #about #milieu div h2 {
  color: var(--noir);
  font-weight: normal;
  font-size: xx-large;
  text-align: center;
}
body #bottom #about #bas {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #bottom #about #bas p {
  color: var(--vert);
  font-size: x-large;
}
body #bottom #about #bas p span {
  color: var(--noir);
}
body #bottom #projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #bottom #projects #MyWorkText {
  width: 50%;
  height: 100%;
}
body #bottom #projects #MyWorkText #MyWork {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #bottom #projects #MyWorkText #MyWork div {
  width: 50%;
  height: 30%;
  display: flex;
  margin-left: 150px;
  border-top: 3px solid var(--noir);
  border-bottom: 3px solid var(--noir);
  justify-content: center;
  align-items: center;
}
body #bottom #projects #MyWorkText #MyWork div h2 {
  color: var(--noir);
  font-weight: normal;
  font-size: xx-large;
  text-align: center;
}
body #bottom #projects #MyWorkText #btnWork {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
body #bottom #projects #MyWorkText #btnWork button {
  height: 70px;
  width: 170px;
  background-color: transparent;
  border: 3px solid var(--vert);
  color: var(--vert);
  margin-left: 20%;
}
body #bottom #projects #MyWorkText #btnWork button:hover {
  background-color: var(--vert);
  color: var(--noir);
}
body #bottom #projects #slider {
  height: 100%;
  width: 50%;
  position: relative;
}
body #bottom #projects #slider .vue {
  opacity: 1 !important;
  z-index: 4 !important;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75) !important;
}
body #bottom #projects #slider .prev {
  z-index: 3 !important;
  transform: translate(-60%, -50%) rotate(25deg) !important;
}
body #bottom #projects #slider .next {
  z-index: 2 !important;
  transform: translate(-40%, -50%) rotate(25deg) !important;
}
body #bottom #projects #slider .card_container {
  position: relative;
  top: 50%;
  left: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  user-select: none;
}
body #bottom #projects #slider .card_container .card {
  width: 25vw;
  height: 100%;
  background-color: var(--gris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  color: white;
  opacity: 0.58;
  min-width: 250px;
  border: 3px solid var(--vert);
}
body #bottom #projects #slider .card_container .card .animate {
  animation: animate-unselect 300ms;
}
body #bottom #projects #slider .card_container .card div {
  position: relative;
  top: 10%;
  width: 80%;
  margin: auto;
  height: 90%;
}
body #bottom #projects #slider .card_container .card div img {
  width: 100%;
  height: 45%;
  background-color: #9B87FE;
  border: 0;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body #bottom #projects #slider .card_container .card div p {
  font-size: 80%;
  margin-top: 5%;
  text-align: center;
  color: var(--vert);
}
body #bottom #projects #slider .card_container .card div h4 {
  color: #9B87FE;
  margin-top: 5%;
  text-align: center;
  color: var(--noir);
}
body #bottom #projects #slider .card_container .button-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 100;
}
body #bottom #projects #slider .card_container .button-container .button {
  color: var(--vert);
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}
body #bottom #projects #slider .card_container .button-container .button:hover {
  opacity: 1;
}
body #bottom #projects #slider .card_container .button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #CBBDDB;
  z-index: -99;
}
body #bottom #projects #slider .card_container .button-container .button:nth-child(1) {
  float: left;
}
body #bottom #projects #slider .card_container .button-container .button:nth-child(2) {
  float: right;
}
body #bottom #contacts {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #bottom #contacts #hautcontact {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: end;
}
body #bottom #contacts #hautcontact div {
  width: 20%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-top: 3px solid var(--noir);
  border-bottom: 3px solid var(--noir);
}
body #bottom #contacts #hautcontact div h2 {
  color: var(--noir);
  font-weight: normal;
  font-size: xx-large;
  text-align: center;
}
body #bottom #contacts #bascontact {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
}
body #bottom #contacts #bascontact #reseaux {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border-right: 1px solid var(--noir);
}
body #bottom #contacts #bascontact #reseaux div {
  height: 30%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
  align-items: center;
}
body #bottom #contacts #bascontact #reseaux div img {
  width: 60px;
  height: 60px;
}
body #bottom #contacts #bascontact #reseaux div p {
  font-size: x-large;
}
body #bottom #contacts #bascontact #buttons {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
  border-left: 1px solid var(--noir);
}
body #bottom #contacts #bascontact #buttons button {
  height: 70px;
  width: 40%;
  background-color: transparent;
  border: 3px solid var(--vert);
  color: var(--vert);
  font-size: large;
}
body #bottom #contacts #bascontact #buttons button:hover {
  background-color: var(--vert);
  color: var(--noir);
  cursor: pointer;
}

/*# sourceMappingURL=build.css.map */
