@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@keyframes animate {
  0%,
  100% {
    clip-path: polygon( 0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon( 0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --gris: #D2D2D2;
  --vert: #6A8572;
  --noir: #18251C;
}

.zoom {
  z-index: 2 ;

}

body {
  background-color: var(--gris);
  #home{
    height: 100vh;
    #head{
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      img{
        width: 70px;
        height: 70px;
        padding: 10px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    #main{
      height: 90vh;
      width: 100%;
      display: flex;
      justify-content: center;
      img{
        position: relative;
        border-bottom: solid 2px var(--noir);
      }
      #p{
        position: absolute;
        top: 280px;
        p{
          font-family: "Poppins", sans-serif;
          color: var(--vert);
          font-size: 120px;
        }
        #titreplein{
          position: absolute;
          z-index: -1;
        }
        #titrevide{
          position: relative;
          color: transparent;
          -webkit-text-stroke: 2px var(--vert);
        }
      }
      .container {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
          font-size: 10vw;
          position: absolute;
          transform: translate(-50%, -50%);
        }
        h2:nth-child(1) {
          color: #6A8572;
          -webkit-text-stroke: 2px #6A8572;
        }
        h2:nth-child(2) {
          color: #D2D2D2;
          animation: animate 4s ease-in-out infinite;
        }
      }
    }
  }
  #bottom {
    width: 100%;
    height: 310vh;
    display: flex;
    flex-direction: column;
    #navbar{
      height: 100vh;
      width: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      div{
        height: 70%;
        width: 40%;
        border-radius: 50px;
        border: 3px solid var(--vert);
        ul{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          list-style: none;
          align-items: center;
          font-size: xxx-large;
          color: var(--noir);
          a {
            color: var(--noir);
          }
        }
      }
    }
    #navbar.sticky {
      position: fixed;
      top: 0;
      left: 0;
    }
    #about{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      #haut{
        height: 50%;
        width: 100%;
        display: flex;
        div:nth-of-type(1){
          height: 100%;
          width: 10%;
        }
        div:nth-of-type(2){
          height: 100%;
          width: 45%;
          display: flex;
          align-items: center;
          position: relative;
          img{
            width: 60%;
            margin-left: 10%;
          }
          div{
            width: 60%;
            height: 75%;
            bottom: 5%;
            left: 7%;
            background-color: transparent;
            border: 3px solid var(--vert);
            position: absolute;
            z-index: -1;
          }
        }
        div:nth-of-type(3){
          height: 100%;
          width: 45%;
          display: flex;
          align-items: center;
          p{
            text-align: center;
            color: var(--vert);
            font-size: x-large;
            padding-right: 40px;
          }
        }
      }
      #milieu{
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70%;
          width: 50%;
          border-top: 3px solid var(--noir);
          border-bottom: 3px solid var(--noir);
          h2{
            color: var(--noir);
            font-weight: normal;
            font-size: xx-large;
            text-align: center;
          }
        }
      }
      #bas{
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          color: var(--vert);
          font-size: x-large;
          span{
            color: var(--noir);
          }
        }
      }
    }
    #projects{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #contacts{
      width: 100%;
      height: 110vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}